@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "montserrat", sans-serif;

  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
.container {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* header */
#header {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
#header .header {
  position: relative;
  margin: 0;
  min-height: 10vh;
  background-color: #1d3444;
  backdrop-filter: blur(5px) saturate(100%) contrast(45%) brightness(130%);

  transition: 0.3s ease background-color;
}
.header::before {
  position: absolute;
  content: "";
  box-shadow: 0  0 16px  rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: -1;

}

#header .header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: #1d3444;
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}

#header .nav-bar .nav-list ul.active {
  left: 0%;
  top: 0%;
}

#header .nav-list ul li a {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 20px;
  display: block;
}

#header .nav-list ul li a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.9s ease letter-spacing;
}

#header .nav-list ul li a:hover::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
  color: #edbb5f;
  opacity: 0.05;
}

#header .nav-list ul li a:hover {
  color: #edbb5f;
}

#header .hamburger {
  height: 60px;
  width: 60px;
  z-index: 2;
  display: inline-block;
  border-radius: 50%;
  border: 3px solid white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}

#header .hamburger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}

@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

#header .hamburger .bar {
  width: 30px;
  height: 2px;
  background-color: white;
  position: relative;
  z-index: -1;
}

#header .hamburger .bar::before,
#header .hamburger .bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}
#header .hamburger .bar::before {
  top: 8px;
}
#header .hamburger .bar::after {
  bottom: 8px;
}

#header .hamburger.active .bar::before {
  top: 0;
}

#header .hamburger.active .bar::after {
  bottom: 0;
}

#header .section-title {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 600;
  text-align: left;
  color: white;
}

#header .section-title h1 {
  margin: 0;
}

/* end of header */

/* hero */

#hero {
  background-image: url(./images/pexels-tima-miroshnichenko-5452255.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  top: 0vh;
  z-index: 1;
  max-height: 82vh;
}


#hero::after {
  content: "";
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
  background-color:#fff;
  opacity: 0.5;
  z-index: -1;
}

#hero .hero {
  max-width: 100%;
  margin: 0;
  padding: 0 10px;
  justify-content: right;
}

#hero .hero h1 {
  display: flex;
  text-align:center;
  left: -35%;
  color: transparent;
  position: relative;
  animation: text-reveal 1.5s ease 0.5s forwards;
}
#hero h1:nth-child(1) {
  animation-delay: 1s;
  font-size: 3rem;
}

#hero h1:nth-child(2) {
  animation-delay: 2s;
  font-size: 3.4rem;
}
#hero h1:nth-child(3) {
  animation: text-reveal-name 0.5s ease forwards;
  animation-delay: 3s;
  font-size: 3.4rem;
}

#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: #edbb5f;
  animation: text-reveal-box 1s ease-in-out 0.5s;
}
#hero h1:nth-child(1) span {
  animation-delay: 0.5s;
}

#hero h1:nth-child(2) span {
  animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
  animation-delay: 2.5s;
}

@keyframes text-reveal-box {
  50% {
    width: 60%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text-reveal {
  100% {
    color: #1d3444;
  }
}

@keyframes text-reveal-name {
  100% {
    color: #edbb5f;
    /* font-weight: 500px; */
  }
}

.p-button {
  display: inline-block;
  position: relative;
  left: -35%;
  color: #edbb5f;
  background-color: #1d3444;
  border: 2px solid #edbb5f;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  padding: 15px 20px;
  transition: 0.7s ease;
  transition-property: background-color, color;
}

.p-button:hover {
  background-color: #edbb5f;
  color: white;
}

/* end of hero */

/* hero exit */

#hero-exit{
}

.hero-exit {
  position: relative;
  content: "";
  min-height: 18vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 0vh;
  color: #6f7886;
  box-shadow: 0px 0px 10px 0 #0000002c;


  }
.hero-exit h2{
  font-size: 30px;
  font-weight: 400;
  z-index: 2;

}

.hero-exit h3{
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
  z-index: 2;
}

.hero-exit:before {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}
/* end of hero exit */

/* slider */

.slider {
  /* background-color: #1d3444; */
  min-height: 60vh;
}
.img-slider {
  position: relative;
  width: 100%;
  min-height: 60vh;
  background-color: #1d3444;
  overflow: hidden;
}

.img-slider .slide {
  background-position: center;
  background-size: cover;
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img {
  z-index: 1;
  width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: 50% 60%;
}

.img-slider .navigation {
  z-index: 1;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn {
  background: rgba(255, 255, 255, 0.5);
  width: 10px;
  height: 10px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active {
  background: #edbb5f;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/* end of  slider */

/* services */

#services .service {
  flex-direction: column;
  text-align: center;
  max-width: 100%;
  margin: 100px auto;
  margin-top: 100px;
}
.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: #1d3444;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
.section-title span {
  color: #edbb5f;
}
#services .service-top p {
  font-size: 20px;
  margin: 30px 0;
  line-height: 3rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
  word-spacing: 4px;
  max-width: 1000px;
  text-align: center;
  padding: 0 10px;
}

#services .service-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 30px;
}
#services .service-item {
  flex-basis: 80%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 5px;
  border-radius: 10px;
  background-image: url(./images/20200828_170028-01.jpg);
  background-size: cover;
  background-position: top left;
  margin: 10px 4%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 38vh;
  transition: all 0.4s ease-in;
}

#services .service-item:nth-child(1) {
  background-image: url(./images/102.jpg);
  background-position: center;
}
#services .service-item:nth-child(2) {
  background-image: url(./images/103.jpg);
  background-position: center;
}
#services .service-item:nth-child(3) {
  background-image: url(./images/103..jpg);
  background-position: left;
  background-size: center;
}
#services .service-item:nth-child(5) {
  background-image: url(./images/105.jpg);
  background-position: center;
}
#services .service-item:nth-child(6) {
  background-image: url(./images/106.jpg);
  background-position: center;
}
#services .service-item:nth-child(7) {
  background-image: url(./images/107.jpg);
  background-position: center;
}
#services .service-item:nth-child(8) {
  background-image: url(./images/108.jpg);
  background-position: center;
}

#services .service-item:hover {
  transform: scale(1.1);
}

#services .service-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #1d3444 0%, #1d3248 100%);
  opacity: 0.5;
  z-index: -1;
}

#services .service-item h2 {
  font-size: 1.9rem;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}
#services .service-item p {
  font-size: 1.6rem;
  color: white;
  line-height: 1.9rem;
}

#services .service-item a {
  font-size: 1.4rem;
  color: #edbb5f;
  text-align: left;
  align-items: flex-start;
  justify-content: left;
  margin-top: 10px;
  line-height: 1.9rem;
}
#services .service-item i {
  margin-left: 8px;
}
#services .service-base {
  background-image: url(./images/ashkan-forouzani-l-NIPb-9Njg-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 45vh;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 38vh;
  transition: all 0.4s ease-in;
}
#services .service-base::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #1d3444 0%, #1d3248 100%);
  opacity: 0.5;
  z-index: -1;
}
.service-base h2 {
  margin: 20px 0;
  color: white;
  font-size: 20px;
}
.service-base p {
  font-size: 20px;
  color: white;
  padding-bottom: 30px;
}

.service-base .s-button {
  display:inline-flex;
  color: #edbb5f;
  background-color: #1d3444;
  border: 2px solid #edbb5f;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size:20px;
  margin-top: 30px;
  padding: 15px;
  transition: 0.7s ease;
  transition-property: background-color, color;
}

.service-base .s-button:hover {
  background-color: #edbb5f;
  color: white;
}

/* end services */

/* education  */

#education .education {
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
}
#education .education-header h1 {
  margin-bottom: 40px;
}

#education .all-education {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#education .education-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  height: 40vh;
  margin: 10px auto;
  overflow: hidden;
  border-radius: 10px;
}
#education .education-info {
  padding: 10px;
  flex-basis: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, #1d3444 0%, #1d3248 100%);
  color: white;
}
#education .education-info h1 {
  font-size: 2.2rem;
  font-weight: 500;
  text-transform: capitalize;
}
#education .education-info h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 10px;
  text-transform: capitalize;
}
#education .education-info h3 {
  font-weight: 500;
  padding: 6px 0;
}

#education .education-img {
  flex-basis: 50%;
  height: 250px;
  overflow: hidden;
  position: relative;
}
.education-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}

#education .education-img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #1d3444;
  background-size: cover;
  opacity: 0.7;
}

#education .education-item:hover .education-img img {
  transform: scale(1.1);
}

/* end of education */

/* about */
.about {
  flex-direction: column;
  max-width: 100vw;
  padding: 60px 0px 0px;
}
.about-header {
  padding-bottom: 60px;
}

.about-footer {
  display: flex;
  flex-wrap: wrap;
}
.about-left {
  background: #1d3444;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
}
.about-left-content > div {
  background: #edbb5f;
  padding: 4rem 4rem 2rem 4rem;
  text-align: center;
  width: 360px;
}
.about-left-content  {
  box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
}
.about-img img {
  display: block;
  width: 200px;
}
.about-img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.shadow {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.shadow::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  height: 7px;
  width: 50px;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.shadow:hover {
  border-radius: 20%;
}
.shadow:hover .about-img {
  transform: translateY(-10px);
}
.about-img img {
  transform: scale(1.5) translateY(10px);
  transition: all 0.5s ease-in-out;
}

.shadow:hover .about-img img {
  transform: scale(2.2) translate(0px, 50px);
}
.shadow:hover::after {
  opacity: 1;
}
.about-left-content h2 {
  font-size: 2rem;
  margin: 2.2rem 0 0.6rem 0;
  line-height: 1.2;
  padding-bottom: 1rem;
  border-bottom: 2px solid #edffec;
}
.about-left-content h3 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  margin-top: 1.2rem;
}
.icons {
  background: #fff;
  display: flex;
  justify-content: center;
  padding: 0.8rem 0;
}
.icons li {
  list-style-type: none;
  background: #a6802b;
  color: #fff;
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.icons li:hover {
  background: #1d3444;
  color: #a6802b;
}
.about-right {
  background: #fff;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  text-align: left;
}

.about-right h2 {
  font-weight: 600;
  padding-top: 10px;
}
.reg-no {
  display: flex;
  flex-direction: row;

}
.reg-no div {
  padding: 0 5px 0;
}
.about-right h3 {
  font-weight: 500;
  padding: 10px 0;
}
.about-right p {
  font-weight: 500;
  font-size: 15px;
  padding: 10px 0;
}

.about-btns {
  display: flex;
  margin: 2rem 0;
}
.btn {
  border: none;
  color: #a6802b;
  font-size: 15px;
  text-transform: uppercase;
  border: 2px solid #1d3444;
  padding: 10px 10px;
  width: 130px;
  font-weight: 600;
  background: #1d3444;
  margin: 0 10px;
  cursor: pointer;
}
.btn.btn-brown {
  background: #a6802b;
  color: #fff;
  border-color: #a6802b;
  transition: all 0.5s ease-in-out;
}
.btn.btn-brown:hover {
  background: #1d3444;
  border-color: #1d3444;
  color: #a6802b;
}
.btn.btn-white {
  transition: all 0.5s ease-in-out;
}
.btn.btn-white:hover {
  background: #a6802b;
  border-color: #a6802b;
  color: #fff;
}
.about-para p {
  font-weight: 300;
  padding: 0.5rem;
}

/* end of about */

/* contact-info */

#contacts{
  position: relative;
  
}

#contacts .contact {
  flex-direction: column;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.contacts{
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
}
.contacts:before,
.contacts:after {
  content: "";
  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: absolute;
  animation: orbit 5s linear infinite;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.contacts:before {
  background: #edbb5f;
  background: -moz-radial-gradient(top right, #edbb5f, #f98a05);
  background: radial-gradient(to bottom left, #edbb5f, #f98a05);
  background: -webkit-radial-gradient(top right, #edbb5f, #f98a05);

  z-index: -2;
}
.contacts:after {
  animation-delay: 2.5s;
  background: #1d3444;
  background: -moz-radial-gradient(bottom right, #1d3444, #6dd0f1);
  background: radial-gradient(to top left, #1d3444, #6dd0f1);
  background: -webkit-radial-gradient(bottom right, #1d3444, #6dd0f1);
  z-index: -1;
}
#contacts .contacts {
  width: 320px;
}

.contact-item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 220px;
  padding: 30px;
  box-shadow: 0px 0px 10px 0 #0000002c;
  transition: 0.4s ease all;
}
.contact-item:before {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  content: "";
  height: 100%;
  border-radius: 0px;
  position: absolute;
  width: 100%;
  
}
.contact-item .icon,
.contact-item h2,
.contact-item h3,
.contact-item a {
  color: #6f7886;
  position: relative;
  z-index: 2;
}

.contact-item:hover {
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.1);
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}

.contact-item h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: 510;
  margin-bottom: 5px;
}
.contact-item h2 i {
  font-size: 2.2rem;
  color: #edbb5f;
  padding-right: 5px;
}
.contact-item h3 {
  letter-spacing: 0.2px;
  font-size: 1.2rem;
  line-height: 2rem;
}
.contact-item h3 a:hover {
  color: #edbb5f;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0;
  width: 340px;
  transition: all ease-in .8s;
}
.contact-form:hover {
  box-shadow: 0px 0px 10px 0 #0000002c;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%)
}

.form-control {
  
  width: 280px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 15px;
  margin-bottom: 16px;
  padding: 5px;
}

.contact-form .section-title {
  font-size: 30px;
  font-weight: 500;
  margin: 15px 0;
}

input {
  height: 45px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0 #0000002c;
  
}
textarea {
  height: 100px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0 #0000002c;
}

.contact-form input:hover,
.contact-form textarea:hover {
  box-shadow: 0px 0px 20px 0 #0000002c;
}

form .submit {
  background: #edbb5f;
  border-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  margin: 20px auto;
}
form .submit:hover {
  cursor: pointer;
  background-color: transparent;
  color: #edbb5f;
  border: 2px solid #edbb5f;
}

.contact-map iframe{
  width: 100vw;
  margin-bottom: 0;
  padding: 0;
  
}
/* end of contact */

/* reach-out */

.reach {
  position: relative;
  content: "";
  min-height: 15vh;
  display: flex;
  text-align: center;
  margin-top: 10vh;
  box-shadow: 0px 0px 10px 0 #0000002c;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap:wrap;
}
.reach:before {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.reach a {
  color: #edbb5f;
  background-color: #1d3444;
  border: 2px solid #edbb5f;
  text-transform: uppercase;
  padding: 10px 10px;
  border-radius: 5px;
  width: 90px;
  text-align: center;
  font-size: 1rem;
  margin: 0 ;
}
.reach a:hover {
  background-color: #1d3444;
  color: #a6802b;
}
/* end of reach-out */

/* footer */

#footer .footer-container {
  flex-direction: column;
  max-width: 100%;
  min-width: 300px;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
  padding-top: 10px;
  background-image: linear-gradient(60deg, #1d3444 0%, #1d3248 100%);
}
#footer .footer-container h1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: white;
  margin-bottom: 15px;
  margin-top: 30px;
}
#footer .footer-container h1 span {
  color: #edbb5f;
}

#footer .footer-container h2 {
  font-size: 1.8rem;
  color: white;
  margin-bottom: 15px;
  letter-spacing: 0.1rem;
}
#footer .footer-container h3 {
  font-size: 1.3rem;
  color: white;
  margin-bottom: 0px;
}
.footer-container .links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container .links a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #edbb5f;
  margin: 5px;
  transition: 0.4s ease all;
}
.footer-container .links a:hover {
  background-color: #edffec;
}
.footer-container .links a i {
  font-size: 25px;
  color: #edffec;
  transition: 0.4s ease all;
}

.footer-container .links i:hover {
  color: #0865a7;
}

.footer-container .links a:nth-child(2) i:hover {
  color: #1892e3d2;
}

.footer-container .links a:nth-child(3) i:hover {
  color: #db4586d2;
}

.footer-container .links a:nth-child(4) i:hover {
  box-shadow: 0px 0px 10px 0 #58d180d2;
}

                        /* media query for tablet */

@media screen and (min-width: 768px) {
  #header .header .nav-bar {
    width: 80%;
  }

  #hero .p-button {
    font-size: 2.5rem;
    padding: 20px 60px;
  }
  .section-title {
    font-size: 6rem;
  }

  /* hero */
  #hero h1 {
    font-size: 7rem;
  }

  
#hero::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0%;
  height: 100%;
  width:50%;
  background-color:#fff;
  opacity: 0.5;
  z-index: -1;
}
  /* hero */

  /* slider */

  .img-slider .navigation {
    bottom: 25px;
  }

  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }

  /* slider */

  /* services */
  #services .service-item {
    flex-basis: 40%;
    /* flex-basis:45% */
    margin: 2.5%;
  }

  /* end services */

  /* education */
  #education .education-item {
    height: 30vh;
    width: 100vw;
    margin: 0;
    border-radius: 0;
    flex-direction: row;
  }

  #education .education-item:nth-child(even) {
    flex-direction: row-reverse;
  }

  #education .education-info {
    width: 100%;
    flex-basis: 50%;
  }
  #education .education-img {
    width: 100%;
    height: 100%;
  }

  /* end education */

  /* about */
  .about-para p {
    font-weight: 300;
    padding: 0.5rem;
    font-size: 18px;
  }

  /* end about */

  /* contact */

  #contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px 0;
  }

  .contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
  }
  .contacts .contact-item {
    margin: auto 15px;
    min-width: 65%;

  }

  .contact-form {
    border-radius: 0px;
    /* box-shadow: 0px 0px 30px 0 #0000002c; */
    width: 700px;
  }

  .form-control {
    width: 500px;
  }

  /* end contact */

 

 

                      /* end   media query for tablet */

                      /* media query for desktop */

@media screen and (min-width: 1090px) {
  #services .service-item {
    flex-basis: 22%;
    margin: 1.5%;
  }
  /* header */
  #header .hamburger {
    display: none;
  }

  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }

  #header .nav-list ul li {
    display: inline-block;
  }
  #header .nav-listul li a {
    font-size: 1.8rem;
  }

  #header .nav-list ul a::after {
    display: none;
  }

  /* hero */
  
#hero::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0%;
  height: 100%;
  width: 50%;
  background-color:#fff;
  opacity: 0.5;
  z-index: -1;
}
  /* contact */

  .contact-form {
    border-radius: 0px;
    /* box-shadow: 0px 0px 30px 0 #0000002c; */
    width: 1000px;
  }

  .form-control {
    width: 600px;
  }
  /* about  */
  .about-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .about-left {
    position: relative;
    width: 90%;
  }
  .about-left-content > div {
    width: 400px;
  }
  .about-left-content {
    position: absolute;
    right: -70px;
  }
  .about-right h2 {
    font-size: 25px;
  }
  .about-right h3 {
    font-size: 15px;
  }

  /* end of about */

  /* education */
  #education .education-info h1 {
    font-size: 3rem;
  }
  /* end of education */


  /* reach-out */

  .reach a {
    padding: 15px 15px;
    width: 170px;
    font-size: 2rem;
  }
}

/* end of media query for desktop */