@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "montserrat", sans-serif;

  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
.container {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* header */
#header {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
#header .header {
  position: relative;
  margin: 0;
  min-height:10vh;
  background-color: rgb(215, 227, 234);

  transition: 0.3s ease background-color;
}
.header::before {
  position: absolute;
  content: "";

  width: 100%;
  height: 100%;
  z-index: -1;

}

#header .header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(215, 227, 234);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}

#header .nav-bar .nav-list ul.active {
  left: 0%;
  top: 0%;
}


#header .nav-list ul li a {
  font-size:2rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #1d3248;
  padding: 15px;
  display: block;
  
  
}
#header .scrolling-active{
  background-color: transparent;
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  -webkit-backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  -moz-backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  
  box-shadow: 0  0 16px  rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:0 0 16px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:0 0 16px rgba(0, 0, 0, 0.5);
}
#header .scrolling-active .nav-list ul li a:hover{
  color: #9EBAC3;

}
#header .scrolling-active .section-title span{
  color: #1d3444;

}


#header .nav-list ul li a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 1.5s ease letter-spacing;
}

#header .nav-list ul li a:hover::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
  color: #9EBAC3;
  opacity: 0.05;
}

#header .nav-list ul li a:hover {
  color: #9EBAC3;
}

#header .hamburger {
  height: 60px;
  width: 60px;
  z-index: 2;
  display: inline-block;
  border-radius: 50%;
  border: 3px solid white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}

#header .hamburger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}

@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

#header .hamburger .bar {
  width: 30px;
  height: 2px;
  background-color: white;
  position: relative;
  z-index: -1;
}

#header .hamburger .bar::before,
#header .hamburger .bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}
#header .hamburger .bar::before {
  top: 8px;
}
#header .hamburger .bar::after {
  bottom: 8px;
}

#header .hamburger.active .bar::before {
  top: 0;
}

#header .hamburger.active .bar::after {
  bottom: 0;
}

#header .section-title {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 400;
  text-align: left;
  color: white;
}



                    /* end of header */



                  /* hero */


#hero .hero>div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 0px;
    background-color: #9cb3bd;
    width: 100%;
}

#hero .hero>div .hero-img {
  
    height: 80vh;
    flex-basis: 100%;
  background-image: url(images/DOCTORS\ ON\ THE\ ISLAND\ HERO\ IMG.jpg );
  background-size: contain;
  background-repeat: no-repeat;
  background-position:bottom ;

}

#hero .hero-banner {
    flex-basis: 100%;
    height: 60vh;
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(241, 244, 242);
    padding: 40px;

}
#hero .hero h1 {
  display: flex;
  color: transparent;
  position: relative;
  animation: text-reveal 1.5s ease 0.5s forwards;
  margin: 5px 0;
}

#hero .hero p {
  font-size: 1.70rem;
  line-height: 25px;
  font-weight: 400;
  margin:  20px 0;
  
}


#hero h1:nth-child(1) {
  animation-delay: 1s;
  font-weight: 560;
  font-size:4rem;
}

#hero h1:nth-child(2) {
  animation: text-reveal-name 0.5s ease forwards;
  animation-delay: 2s;
  font-weight:500;
  text-transform: capitalize;
  font-size: 2.5rem;
}

#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color:#1d3444;
  animation: text-reveal-box 1s ease-in-out 0.5s;
}
#hero h1:nth-child(1) span {
  animation-delay: 0.5s;
}

#hero h1:nth-child(2) span {
  animation-delay: 1.5s;
  background-color: #9EBAC3;

}



@keyframes text-reveal-box {
  50% {
    width: 70%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text-reveal {
  100% {
    color: #1d3444;
  }
}

@keyframes text-reveal-name {
  100% {
    color: #9EBAC3;
  }
}

.p-button {
  display: inline-block;
  position: relative;
  color: #9EBAC3;
  background-color: #1d3444;
  border: 2px solid #9EBAC3;
  text-transform: capitalize;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 15px 20px;
  transition: 0.7s ease;
  margin: 10px 0;
  transition-property: background-color, color;
}

.p-button:hover {
  background-color: #9EBAC3;
  color: white;
}



                          /* end of hero */



                          /* services */

#services .service {
  flex-direction: column;
  text-align: center;
  max-width: 100%;
  margin: 100px auto;
}
.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: #1d3444;
  margin: 20px 50px;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
.section-title span {
  color: #9EBAC3;
}
#services .service-top p {
  font-size: 20px;
  margin: 30px 0;
  line-height: 3rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
  max-width: 1000px;
  text-align: center;
  padding: 0 10px;
}

#services .service-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 30px;
}
#services .service-item {
  flex-basis: 45%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  margin:2.5% 1.5%;
  overflow: hidden;
  height: 55vh;
  transition: all 0.4s ease-in;
}
#services .service-item .ser-item-det {
  display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
  flex-direction: column;
  padding: auto 10px;
  flex-basis: 50%;
  height: 25.5vh;
  width: 100%;
  background-color: #edffec;
 
}
#services .service-item .ser-item-img {
  flex-basis: 50%;
  height: 25.5vh;
  width: 100%;
  background-image:url(./images/101.jpg);
  background-size: cover;
  background-position: top left;
  transition: all 0.4s ease-in;
}

#services .service-item:nth-child(2) .ser-item-img {

  background-image:url(./images/108.jpg);
  background-position:right;
}
#services .service-item:nth-child(3) .ser-item-img {
  background-image:url(./images/0213.jpg);
  background-position: center;
}
#services .service-item:nth-child(4) .ser-item-img {
  background-image: url(./images/vaccines.jpg);
  background-position: left;
  background-size: center;
}
#services .service-item:nth-child(5) .ser-item-img {
  background-image: url(./images/52793.jpg);
  background-position: center;
}
#services .service-item:nth-child(6) .ser-item-img {
  background-image: url(./images/105.jpg);
  background-position: top  left;
}


#services .service-item:hover {
  transform: scale(1.1);
}


#services .service-item h2 {
  font-size: 1.9rem;
  color: #1d3248;
  padding-top: 5px;
  text-transform: uppercase;
}
#services .service-item p {
  font-size: 1.6rem;
  width: 90%;
  color: #1d3248;
  line-height: 1.9rem;
}

#services .service-item .ser-item-det a {
  font-size: 1.6rem;
  color: #9EBAC3;
  text-align: left;
  align-items: left;
  padding-top:20px;
  line-height: 1.9rem;
}
#services .service-item i {
  margin-left: 10px;
  transition: transform 0.5s ease-in-out;
}
#services .service-item a:hover  {
 color: #0865a7;
}
#services .service-item a:hover i {
 transform: translateX(40px);
 color: #0865a7;
}




.hype {
  display: flex;
  flex-direction: column;
}
#hype .hype .hype-top{
  display: flex;
  margin-bottom: 0px;
}
#hype .hype-top h1 {
  font-size:  2rem; 
  font-weight: 600;
  text-transform:lowercase ;
  text-align: left;
  margin-left:25px;
}

#hype .hype-items {
  display: grid;
grid-template-columns: 1fr;
  grid-template-areas: "A" "B" "C";
 height: 1200px;
  grid-gap: 25px;
 
}
.hype-item  {
  display: flex;
  flex-direction: column;
  border-radius:20px;
  align-items: center;
  padding: 20px;
  padding-bottom: 0px;
  z-index: 2;
}

.doc-option{
position: relative;
background-image:  linear-gradient(120deg, #ffebe7 0%, #fbd5d8 50%);;
}
.doc-option-items {
  display:flex;
  flex-direction: row;
  border-radius: 50%;
  justify-content: space-evenly;
  width: 350px;
  height: 100px;
  padding-top: 10px ;
  
}
.doc-option-items div {
  position: absolute;
  display: flex;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 4px rgb(201, 108, 144)solid;
}

.doc-option-items div:nth-child(1) {
  animation: doc-1 4.5s ease-out infinite;
  animation-delay: 1s;
}
.doc-option-items div:nth-child(3) {
  animation: doc-2 4.5s ease-out infinite;
  animation-delay: 1s;
}
.doc-option-items div img{
  display: flex;
  border-radius: 50%;
  border: 6px white solid;
}
.doc-option span {
  color: #c29f9f;
}

@keyframes doc-1 {
  0% {
    transform: translate(0, 0);
  }

  40% {
    transform: translate(-80%, 0);
  }
  75% {
    transform: translate(-80%, 0);
  }
  90% {
    transform: translate(0, 0);
  }
}
@keyframes doc-2 {
  0% {
    transform: translate(0, 0);
  }

  40% {
    transform: translate(80%, 0);
  }
  75% {
    transform: translate(80%, 0);
  }
  90% {
    transform: translate(0, 0);
  }
}

.slide{
  position: relative;
  overflow:hidden;
  grid-area: B;
  padding-bottom: 0;
  background-image: linear-gradient(-120deg, #eFFEEf 0%, #D7FFFE 100%);
 } 
.slide span {
  color: #068d8a;
}
.slide .highway-slider {
  position :absolute;
  display: block;
  top: 50px;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  min-width: 100%;
  /* height: 100%; */
  z-index: -1;

}
.slide .highway-slider span{
  display: inline-block;
  padding-left: 100%;
  text-align: center;
  white-space: nowrap;
  min-width: 100%;
  /* height: 100%; */
  line-height: 120px;
  font-size: 120px;
  font-weight: 600;
  opacity: 0.15;
  animation: highway-slider 20s linear infinite;
}
.slide .highway-slider2  span{
  animation-delay:10s;
}

@keyframes highway-slider {
  0% {
    transform:translate(0, 0);
  }
  100% {
    transform:translate(-100%, 0);
  }
}

.slide .slide-img {
  display: flex;
  align-items:baseline;

  margin-top: 10px;
  margin-bottom: 0px;
  height:750px;
  /* overflow: hidden; */
  width: 550px;
background-image: url(images/Untitled\ ui-edit\ iphoneseblack_portrait.png);
background-size: cover;
}
.care-plan{
grid-area:C ;
display: flex;
padding: 20px;
overflow: hidden;
align-items: flex-start;
background-image:  url(images/care-plan.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;}
.care-plan h4 {
  color:#ffffff;
  padding: 10px 0 ;
}





                    /* end services */



                    /* about */
.about {
  flex-direction: column;
  max-width: 100%;
  padding: 10vh 0px 0px;
}
.about-header {
  padding-bottom: 60px;
}

.about-footer {
  display: flex;
  flex-wrap: wrap;
  
}
.about-left {
  background: #1d3444;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
}
.about-left-content > div {
  background: #9EBAC3;
  padding: 4rem 4rem 2rem 4rem;
  text-align: center;
  width: 360px;
}
.about-left-content  {
  box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
}
.about-img img {
  display: block;
  width: 200px;
}
.about-img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.shadow {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.shadow::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  height: 7px;
  width: 50px;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.shadow:hover {
  border-radius: 20%;
}
.shadow:hover .about-img {
  transform: translateY(-10px);
}
.about-img img {
  transform: scale(1.5) translateY(10px);
  transition: all 0.5s ease-in-out;
}

.shadow:hover .about-img img {
  transform: scale(2.2) translate(0px, 50px);
}
.shadow:hover::after {
  opacity: 1;
}
.about-left-content h2 {
  font-size: 2rem;
  margin: 2.2rem 0 0.6rem 0;
  line-height: 1.2;
  padding-bottom: 1rem;
  border-bottom: 2px solid #edffec;
}
.about-left-content h3 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  margin-top: 1.2rem;
}
.icons {
  background: #fff;
  display: flex;
  justify-content: center;
  padding: 0.8rem 0;
}
.icons li {
  list-style-type: none;
  background: #a6802b;
  color: #fff;
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.icons li:hover {
  background: #1d3444;
  color: #a6802b;
}
.about-right {
  background: #fff;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  text-align: left;
}

.about-right h2 {
  font-weight: 600;
  padding-top: 10px;
}
.reg-no {
  display: flex;
  flex-direction: row;

}
.reg-no div {
  padding: 0 5px 0;
}
.about-right h3 {
  font-weight: 500;
  padding: 10px 0;
}
.about-right p {
  font-weight: 500;
  font-size: 15px;
  padding: 10px 0;
}

.about-btns {
  display: flex;
  margin: 2rem 0;
}
.btn {
  border: none;
  color: #a6802b;
  font-size: 15px;
  text-transform: uppercase;
  border: 2px solid #1d3444;
  padding: 10px 10px;
  width: 130px;
  font-weight: 600;
  background: #1d3444;
  margin: 0 10px;
  cursor: pointer;
}
.btn.btn-brown {
  background: #a6802b;
  color: #fff;
  border-color: #a6802b;
  transition: all 0.5s ease-in-out;
}
.btn.btn-brown:hover {
  background: #1d3444;
  border-color: #1d3444;
  color: #a6802b;
}
.btn.btn-white {
  transition: all 0.5s ease-in-out;
}
.btn.btn-white:hover {
  background: #a6802b;
  border-color: #a6802b;
  color: #fff;
}
.about-para p {
  font-weight: 300;
  padding: 0.5rem;
}

/* end of about */

/* contact-info */

#contacts{
  position: relative;
  /* background-image: url(images/mike-meyers--haAxbjiHds-unsplash.jpg); */
  background-size:100%;
  background-repeat: no-repeat;
  background-position:center;
  z-index: -3;

}

#contacts .contact {
  flex-direction: column;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 100px 0px auto;
  position: relative;
  overflow: hidden;
}

.contacts{
  display: flex;
  flex-direction:row;
  width: 100vw;
  justify-content: center;
  align-items: center;
  animation: move 30s ease-in-out infinite;
}
@keyframes move {
  0% {
    transform: translateX(-100);
  }
  100% {transform: translateX(150%)
   }
}

.contacts:before,
.contacts:after {
  content: "";
  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: absolute;
  animation: orbit 5s linear infinite;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.contacts:before {
  background: #9EBAC3;
  background: -moz-radial-gradient(top right, rgb(158, 186, 195), #9cd4e6);
  background: radial-gradient(to bottom left, #9EBAC3, #9cd4e6);
  background: -webkit-radial-gradient(top right, #9EBAC3, #9cd4e6);

  z-index: -2;
}
.contacts:after {
  animation-delay: 2.5s;
  background: #1d3444;
  background: -moz-radial-gradient(bottom right, #f8b462,
    #f99a26);
  background: radial-gradient(to top left,#f8b462,#f99a26);
  background: -webkit-radial-gradient(bottom right, #f8b462, #f99a26);
  z-index: -1;
}
#contacts .contacts {
  width: 100%;
}

.contact-item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 120px;
 width: 250px;
  padding: 30px;
  box-shadow: 0px 0px 10px 0 #0000002c;
  transition: 0.4s ease all;
}
.contact-item:before {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  content: "";
  height: 100%;
  border-radius: 0px;
  position: absolute;
  width: 100%;
  
}
.contact-item .icon,
.contact-item h2,
.contact-item h3,
.contact-item a {
  color: #6f7886;
  position: relative;
  z-index: 2;
}

.contact-item :hover {
  box-shadow: 0px 10px 100px 0 rgba(0, 0, 0, 0.1);
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}

.contact-item h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: 510;
  margin-bottom: 5px;
}
.contact-item h2 i {
  font-size: 2.2rem;
  color: #9EBAC3;
  padding-right: 5px;
}
.contact-item h3 {
  letter-spacing: 0.2px;
  font-size: 1.2rem;
  line-height: 2rem;
}
.contact-item h3 a:hover {
  color: #9EBAC3;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  width: 70vw;
  transition: all ease-in .5s;
  box-shadow: 0px 0px 15px 0 #0000002c;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%)
}
.contact-form:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(135%)
}

.form-control {
  
  width: 65vw;
  background: transparent;
  border: none;
  outline: none;
  font-size: 15px;
  margin: 20px;
  padding: 5px;
}

.contact-form .section-title {
  font-size: 4rem;
  font-weight: 500;
  margin: 20px;
}

input {
  height: 45px;
  padding: 10px;
  box-shadow: 0px 0px 12px 0 #0000002c;
  
}
textarea {
  height: 150px;
  box-shadow: 0px 0px 12px 0 #0000002c;
}

.contact-form input:hover,
.contact-form textarea:hover {
  box-shadow: 0px 0px 25px 0 #0000002c;
}

form .submit {
  background: #9EBAC3;
  border-color: transparent;
  color: white;
  font-size:20px;
  padding: 10px;
  letter-spacing: 0.3rem;
  height: 45px;
  margin: 20px ;
}
form .submit:hover {
  cursor: pointer;
  background-color: #1d3248;
  color: #9EBAC3;
}

.contact-map iframe{
  width: 98.5vw;
  
}
/* end of contact */

/* reach-out */

.reach {
  position: relative;
  content: "";
  min-height: 6vh;
  display: flex;
  text-align: center;
  margin-top: 10vh;
  box-shadow: 0px 0px 10px 0 #0000002c;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap:wrap;
}
.reach:before {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.reach a {
  color: #9EBAC3;
  text-transform: capitalize;
  padding: 10px 10px;
  border-radius: 5px;
  width: 90px;
  text-align: center;
  font-size: 1rem;
  margin: 0 ;
}
.reach a:hover {
 color: #1d3444;
}
/* end of reach-out */

/* footer */

#footer .footer-container {
  flex-direction: column;
  max-width: 100%;
  min-width: 300px;
  align-items: center;
  text-align: center;
  padding-bottom:30px;
  color:#1d3248;
  padding-top: 10px;
  background-color:rgb(226, 236, 231);
}
#footer .footer-container h1 {
  text-transform: uppercase;
  font-size: 3rem;
  /* color: white; */
  margin-bottom: 15px;
  margin-top: 30px;
}
#footer .footer-container h1 span {
  color: #9EBAC3;
}

#footer .footer-container h2 {
  font-size: 1.8rem;
  /* color: white; */
  margin-bottom: 15px;
  letter-spacing: 0.1rem;
}
#footer .footer-container h3 {
  font-size: 1.3rem;
  /* color: white; */
  margin-bottom: 0px;
}
.footer-container .links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container .links a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(226, 236, 231);
  margin: 5px;
  transition: 0.4s ease all;
}

.footer-container .links a i {
  font-size: 25px;
  color: #1d3248;
  transition: 0.4s ease all;
}

.footer-container .links i:hover {
  color: #0865a7;
}

.footer-container .links a:nth-child(2) i:hover {
  color: #1892e3d2;
}

.footer-container .links a:nth-child(3) i:hover {
  color: #db4586d2;
}

.footer-container .links a:nth-child(4) i:hover {

}
                        /* end of media query for phone */


                        /* media query for tablet */

@media screen and (min-width: 1023px) {
  #header .header .nav-bar {
    width: 80%;
  }
    
        #hero .hero h1 {
          display: flex;
        }
    
        #hero .hero p {
          font-size: 1.5rem;
          line-height: 24px;
    
        }
    
    
        #hero h1:nth-child(1) {
          font-size: 2.5rem;
        }
    
        #hero h1:nth-child(2) {
          font-size: 2.5rem;
        }
    

    #hero .p-button {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 2.4rem 0;
  }
  .section-title {
    font-size:6rem;
  }

  /* hero */
  
  

  /* hero */


  /* services */
  #services .service-item {
    flex-basis: 40%;
    margin: 2.5%;
  }

  /* end services */

  /* hype */
 
    #hype .hype-items {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-gap: 25px;
      grid-template-areas:
        "a b"
        "a b"
        "a c"
        "a c";
      width: 100%;
      height: 800px;
      padding: 10px 30px 30px 30px;
    }

  
.hype-item  {
  display: flex;
  flex-direction: column;
  border-radius:20px;
  align-items: center;
  font-size: 1.5rem;
  padding: 60px;
  z-index: 2;
}

.doc-option{
position:relative;
grid-area:b;
background-image:  linear-gradient(120deg, #ffebe7 0%, #fbd5d8 50%);;
}
.doc-option-items {
  display:flex;
  padding-top: 100px;
  flex-direction: row;
  border-radius: 50%;
  height: 150px;
  overflow: hidden;
  
}
.doc-option-items div {
  position: absolute;
  display: flex;
  overflow: hidden;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 4px rgb(201, 108, 144)solid;
}


.doc-option-items div img{
  display: flex;
  border-radius: 50%;
  border: 6px white solid;
}


.slide{
  position: relative;
  height:auto;
  padding-bottom:0px ;
  overflow: hidden;
  grid-area: a;
  background-image: linear-gradient(-120deg, #eFFEEf 0%, #D7FFFE 100%);
  z-index: -1;
 } 
.slide span {
  color: #068d8a;
}
.slide .highway-slider {
  position :absolute;
  display: block;
  top: 120px;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  min-width: 100%;
  height: 100%;
  z-index: -1;

}
.slide .highway-slider span{
  display: inline-block;
  padding-left: 100%;
  text-align: center;
  white-space: nowrap;
  min-width: 100%;
  height: 100%;
  line-height: 140px;
  font-size: 140px;
  font-weight: 600;
  opacity: 0.15;
  animation: highway-slider 20s linear infinite;
}
.slide .highway-slider2  span{
  animation-delay:10s;
}

.slide .slide-img {
  margin-top: 60px;
  height:900px ;
}
.care-plan{
overflow: hidden;
align-items: flex-start;
grid-area: c;
}
.care-plan h4 {
  color:#ffffff;
  padding: 15px 0 ;
}

  /* about */
  .about-para p {
    font-weight: 300;
    padding: 0.5rem;
    font-size: 18px;
  }

  /* end about */

  /* contact */

  #contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    animation: none;
  }
  .contacts .contact-item {
    margin: auto 15px;
    min-width: 65%;

  }

  .contact-form {
    border-radius: 0px;
    /* box-shadow: 0px 0px 30px 0 #0000002c; */
    width: 700px;
  }

  .form-control {
    width: 500px;
  }
      }
  /* end contact */



                      /* end   media query for tablet */

                      /* media query for desktop */

@media screen and (min-width: 1290px) {

  #hero .hero>div .hero-img {
  
      flex-basis: 60%;
      height: 100vh;
  
    }
  
    #hero .hero-banner {
      flex-basis:40%;
      height: 100vh;
      padding: 30px;
    }
        #hero .hero p {
          font-size: 1.7rem;
          line-height: 24px;
    
        }
    
    
        #hero h1:nth-child(1) {
          font-weight: 540;
            font-size:3.5rem;
        }
    
        #hero h1:nth-child(2) {
          font-size: 3rem;
        }
    
    
        #hero .p-button {
          font-size: 1.5rem;
          font-weight: 600;
          padding: auto 15px;
        }
  
  #services .service-item {
    flex-basis: 30%;
    margin: 20px 1.5%;
  }
  /* header */
  #header .hamburger {
    display: none;
  }

  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: max-content;
    background-color: transparent;
  }

  #header .nav-list ul li {
    display: inline-block;
  }
  #header .nav-listul li a {
    font-size: 1.8rem;
  }

  #header .nav-list ul a::after {
    display: none;
  }

  /* hero */
  

/* hype */

.doc-option-items div {

  border: 4.5px rgb(201, 108, 144)solid;
}
.hype-item {
  border-radius: 20px;
  font-size: 2rem;
}

 #hype .hype-items {
 
   grid-gap: 50px;
   height: 1000px;
  
  
 }

 .slide .highway-slider {
  
   top: 140px;

 }
.slide .slide-img {
   margin-top: 120px;
   height: 1000px;
 }
  /* contact */
  

  .contact-form {
    border-radius: 0px;
    width: 680px;
  }

  .form-control {
    width: 600px;
    padding: 30px;
    margin: 20px;
  }
  
  /* about  */
  .about-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .about-left {
    position: relative;
    width: 90%;
  }
  .about-left-content > div {
    width: 400px;
  }
  .about-left-content {
    position: absolute;
    right: -70px;
  }
  .about-right h2 {
    font-size: 25px;
  }
  .about-right h3 {
    font-size: 15px;
  }

  /* end of about */

  /* education */
  #education .education-info h1 {
    font-size: 3rem;
  }
  /* end of education */


  /* reach-out */

  .reach a {
    padding: 15px 15px;
    width: 170px;
    font-size: 2rem;
  }
}

/* end of media query for desktop */